.cart__container__item {
  display: inline-flex;
  align-items: center;
}

.cart__container__item-inner {
  display: inline-flex;
  padding-right: 20px;
}

.cart__container__item-details {
  flex: 1;
}

.cart__container__item-details h4,
p {
  margin: 0;
}

.cart__container__item-details p {
  font-size: var(--font-sm);
  display: inline-flex;
  align-items: center;
}

.cart__container__item-details p span {
  font-weight: 700;
}

.cart__container__item-inner button {
  color: currentColor;
  cursor: pointer;
}

.cart__container__item-empty,
.cart__container__item-empty>span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__container__item-empty {
  height: 100%;
}

.cart__container__item-empty span {
  flex-direction: column;
}


@media (hover:hover) {
  .cart__container__item:hover {
    background-color: #00000020;
  }

  .cart__container__item-inner button:hover {
    color: #ff0000;
  }
}