.user__badge {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.user__badge picture {
  display: grid;
  place-items: center;
}

.user__badge-info {
  display: none;
  flex-direction: column;
}

.user__badge-info span:last-child {
  font-size: var(--font-sm);
  margin-top: -8px;
  opacity: .6;
}

@media (width > 699px) {
  .user__badge-info {
    display: flex;
  }
}