.grid {
  display: grid;
  gap: 16px;
  grid-template-areas:
    "a"
    "b"
    'c'
    'd'
    'e'
    'f';
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.f {
  grid-area: f;
}

/*  media query */
@media (width > 668px) {

  .grid {
    grid-template-areas:
      "a b"
      "c d"
      "e f";
  }
}

@media (width > 767px) {

  .grid {
    grid-template-areas:
      "a b"
      "c c"
      "d e"
      "f f";
  }
}

@media (width > 1130px) {
  .grid {
    grid-template-areas:
      "a b c c"
      "d d e f";
  }
}