.first,
.second {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "a"
    "b"
    'c';
  padding-bottom: 10px;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

@media (width > 668px) {

  .first,
  .second {
    grid-template-areas:
      "a b"
      "c c";
  }
}

@media (width > 1130px) {

  .first {
    grid-template-areas:
      "a b c";
    grid-template-columns: 1fr 1fr 2fr;
  }

  .second {
    grid-template-areas:
      "a b c";
    grid-template-columns: 2fr 1fr 1fr;
  }
}