.card__box {
  height: 220px;
  border-radius: .4vmax;
  display: flex;
  justify-content: space-around;
  position: relative;
  /* padding: 20px; */
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 46px;
}

.card__text h3 {
  font-size: var(--font-md);
  font-weight: 400;
}

.card__text h3 span {
  font-size: var(--font-xl);
  font-weight: 700;
}

.background__text {
  color: #fff;
  font-size: var(--_font_xxxl);
  font-weight: 700;
  text-transform: uppercase;
  opacity: .6;
  position: absolute;
  top: 50%;
  left: 16%;
}

.card__btn {
  width: fit-content;
  color: #ffffff;
  background-color: #ff6347;
  border-radius: 2vmax;
  padding: 4px 12px;
  z-index: 20;
}


.card__img {
  position: relative;
  width: min(180px, 200px);
  height: min(180px, 200px);
  z-index: 21;
}

.card__img img {
  position: absolute;
  top: 10px;
  left: -20px;
}