.card__box {
  min-width: 100px;
  height: 220px;
  border-radius: .4vmax;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  /* overflow: hidden; */
  position: relative;
  padding: 20px;
}

.card__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 46px;
  left: 10%;
  z-index: 20;
}

.card__text h3 {
  font-size: var(--font-md);
  font-weight: 400;
}

.card__text h3 span {
  font-size: var(--font-xl);
  font-weight: 700;
}

.card__btn {
  width: fit-content;
  color: #ffffff;
  background-color: #ff6347;
  border-radius: 2vmax;
  padding: 4px 12px;
  transition: all .2s;
}

.background__text {
  color: #fff;
  font-size: var(--_font_xxxl);
  font-weight: 700;
  text-transform: uppercase;
  opacity: .6;
  position: absolute;
  top: 50%;
  left: 10%;
  transform-style: preserve-3d;
}

.card__btn:hover {
  outline: 2px solid #cdb0fa;
  scale: 1.1;
}

.card__text~img {
  position: absolute;
  top: 20px;
  right: 20px;
}