.seller {
  text-align: center;
  margin-bottom: 48px;
}

.seller h3 {
  font-size: var(--_font_xxxl);
  margin-bottom: 0;
}


.seller__inner {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 48px;
  gap: 60px 0;
}

/* media query */
@media (width > 499px) {
  .seller__inner {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width > 699px) {
  .seller__inner {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width > 899px) {
  .seller__inner {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width > 1439px) {
  .seller__inner {
    grid-template-columns: repeat(5, 1fr);
  }
}