.card__product {
  max-width: 200px;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
  transition: .2s;
}

.card__product img {
  border-radius: var(--border);
  width: 200px;
  height: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.card__product h4 {
  margin: 0;
  text-align: center;
}

.card__product-badges,
.card__product-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.card__product-desc {
  text-align: start;
  text-wrap: pretty;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__product-price button {
  cursor: pointer;
  transition: .2s;
}

.price {
  margin-top: 10px;
}

.card__product-discount {
  font-size: var(--font-sm);
  text-decoration: line-through;
}

@media (hover:hover) {
  .card__product:hover {
    box-shadow: 10px 5px 10px #70809050;
    border-radius: var(--border);
  }

  .card__product-price button:hover {
    scale: 1.1;
  }
}