* {
  --font-sm: .8rem;
  --font-md: .9rem;
  --font-lg: 1.25rem;
  --font-xl: 2rem;
  --_font_xxxl: 3rem;
  --_padding: 20px;
  --border: .4rem;
  --primary: #ff8811;
  --secondary: #9dd9d2;
  --terciary: #22272e;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  min-width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
}

.padding {
  padding-inline: var(--_padding);
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.w-fill {
  width: -webkit-fill-available;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}