.header {
  width: 100%;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 30;
}

.container__header {
  display: flex;
  align-items: center;
  padding-block: 16px;
  gap: 16px;
}

.logo-img {
  transform: scale(.7);
}

@media (width > 399px) {
  .logo-img {
    transform: scale(1);
  }
}