.header {
  width: 100%;
  background-color: #fff;
  padding: 15px 0;
  position: fixed;
  top: 0;
  z-index: 30;
}

.container__header {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0 10px;
}

.logo {
  text-align: center;
}