.header {
  width: 100%;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 30;
}

.container__header {
  display: flex;
  align-items: center;
  margin: auto;
}

.logo {
  text-align: center;
}