.product__filter {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.product__filter select {
  border-radius: 20vmax;
  padding: 4px 12px;
}

.product__filter select option {
  text-transform: capitalize;
}

.product__filter button {
  background-color: var(--primary, #D3C51E);
  border-radius: 20vmax;
  padding: 4px 12px;
}

.product__inner {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 48px;
  gap: 60px 0;
}

/* media query */
@media (width > 499px) {
  .product__inner {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width > 699px) {
  .product__inner {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width > 899px) {
  .product__inner {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width > 1439px) {
  .product__inner {
    grid-template-columns: repeat(5, 1fr);
  }
}