footer {
  display: grid;
  grid-template-areas:
    'subsc'
    'contact'
    'social';
  gap: 60px;
}

.social {
  grid-area: social;
}

.social>* {
  font-size: var(--font-sm);
  margin-top: 18.720px;
}

.social>div {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contact {
  grid-area: contact;
}

.contact div {
  display: flex;
  flex-direction: column;
}

.contact .icon {
  display: flex;
  align-items: center;
  gap: 6px;
}

.subscription {
  grid-area: subsc;
}

.subscription label {
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 60px;
  padding: 10px;
}

.subscription label input {
  background-color: #e5e5e5;
  border: none;
  padding: 6px;
}

.subscription label input:focus,
.subscription label input:active {
  outline: none;
}

.subscription label button {
  color: #ffffff;
  background-color: #f82a36;
  cursor: pointer;
  border-radius: 20px;
  padding: 8px 12px;
}

@media (width > 600px) {
  footer {
    grid-template-areas:
      'subsc contact'
      'social social';
  }
}

@media (width > 1200px) {
  footer {
    grid-template-areas: 'social contact subsc';
    grid-template-columns: repeat(3, 1fr);
  }

  .social>div {
    justify-content: flex-start;
  }
}