.card__box {
  --border: .4vmax;
  min-width: 100px;
  height: 220px;
  border-radius: var(--border);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  padding: 20px;
}

.card__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 46px;
  left: 10%;
  z-index: 20;
}

.card__text h3 {
  font-size: var(--font-md);
  font-weight: 400;
}

.card__text h3 span {
  font-size: var(--font-xl);
  font-weight: 700;
}

.background__text {
  color: currentColor;
  font-size: var(--_font_xxxl);
  font-weight: 700;
  text-transform: uppercase;
  opacity: .4;
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 1;
}

.cover {
  width: 250px;
  height: 250px;
  border-radius: 1vmax;
  rotate: 13deg;
  position: absolute;
  right: -50px;
  bottom: -50px;
  transition: scale .2s;
}

.card__text~img {
  position: absolute;
  right: 20px;
  z-index: 2;
  transition: scale .2s;
}

.card__box:hover .card__text~img {
  scale: 1.2;
}

.card__box:hover .cover {
  scale: 1.6;
  border-radius: 50%;
}