.news__section {
  text-align: center;
  margin-bottom: 48px;
}

.news__section h3 {
  font-size: var(--_font_xxxl);
  margin-bottom: 0;
}

.news__section-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}

/* media query */
@media (width > 757px) and (width < 1140px) {
  .news__section-article {
    flex-direction: column;
  }
}