.product__page {
  display: flex;
  gap: 30px;
}

.product__filter {
  display: none;
  position: sticky;
  margin-top: 48px;
  top: 98px;
}

.product__filter ul {
  padding: 0;
}


.product__inner {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 48px;
  gap: 60px 0;
}

/* media query */
@media (width > 499px) {
  .product__filter {
    display: block;
  }

}

@media (width > 699px) {
  .product__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 899px) {
  .product__inner {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width > 1439px) {
  .product__inner {
    grid-template-columns: repeat(4, 1fr);
  }
}