.product__page {
  display: flex;
  gap: 30px;
}

.product__filter {
  display: none;
  position: sticky;
  margin-top: 48px;
  top: 98px;
}

.product__filter ul {
  padding: 0;
}

.filter__mobile {
  width: 40px;
  height: 40px;
  background-color: var(--secondary);
  border-radius: 50%;
  display: flex;
  place-items: center;
  position: absolute;
  left: 40px;
  bottom: 40px;
}

/* media query */
@media (width > 499px) {
  .product__filter {
    display: block;
  }

  .filter__mobile {
    display: none;
  }
}