.product__page {
  display: flex;
  gap: 30px;
}

.product__filter {
  display: none;
  position: sticky;
  margin-top: 48px;
  top: 98px;
}

.product__filter ul {
  padding: 0;
}

/* media query */
@media (width > 499px) {
  .product__filter {
    display: block;
  }

  .filter__mobile {
    display: none;
  }
}