.card__news {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: .2s;
}

.card__news picture {
  width: 320px;
  height: 240px;
  overflow: hidden;
  border-radius: var(--border);
}

.card__news picture img {
  transition: all .2s;
}

.card__news span {
  color: #708090;
}

.card__news h4 {
  font-size: var(--font-lg);
  margin-block: 8px;
}

.card__news p {
  max-width: 32ch;
  text-wrap: pretty;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (hover:hover) {
  .card__news:hover {
    box-shadow: 10px 5px 10px #70809050;
    border-radius: var(--border);
  }

  .card__news:hover picture img {
    scale: 1.05;
  }

  .card__news h4:hover {
    color: #1D54AB;
  }
}

/* media query */
@media (width > 757px) and (width < 1140px) {
  .card__news {
    flex-direction: row;
    gap: 60px;
  }

  .card__news p {
    -webkit-line-clamp: 6;
  }
}