.box__form {
  min-width: 300px;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: var(--shadow);
  border-radius: var(--border);
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: .7em;
}

form input,
form button {
  width: 100%;
  border-radius: var(--border);
}

form input {
  padding: 8px;
  border-color: #80808040;
}

input:focus,
input:active {
  outline: none;
}

/* button */
form button {
  background-color: var(--primary);
  font-size: var(--font-lg);
  font-weight: 400;
  cursor: pointer;
  margin-block: 8px;
  padding: 4px 8px;
  transition: .3s;
}

.box__form span {
  text-align: end;
}

@media (hover:hover) {
  form button:hover {
    background-color: var(--secondary);
  }

  .box__form span a:hover {
    color: #4b4b4b;
  }
}